<div class="login flex flex-column align-items-center gap-3">
    <h1>Login Soccer</h1>
    <img src="https://wallpaperaccess.com/full/562943.jpg" alt="balon">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="flex flex-column gap-2">
            <label htmlFor="nombre">username</label>
            <input pInputText id="username" aria-describedby="username-help" formControlName="username" />
            <small *ngIf="formSubmitted && this.loginForm.controls['username'].invalid" id="username-help">El campo nombre no puede estar vacio</small>
        </div>
        <div class="flex flex-column gap-2">
            <label htmlFor="password">password</label>
            <input pInputText id="password" aria-describedby="password-help" formControlName="password" />
            <small *ngIf="formSubmitted && this.loginForm.controls['password'].invalid" id="password-help">El campo password no puede estar vacio</small>
        </div>
        <br>
        <div class="card flex justify-content-center">
            <p-button label="Ingresar" type="submit"></p-button>
        </div>
    </form>
</div>